extends layout

block content
  
  //h1= question
  //p= answer1
  //p= answer2

  h1.quest.title= question
  p.votes 0
  div#options
    p.klik1= answer1
      br
      span#op1 0
      |  %
    p.klik2= answer2
      br
      span#op2 0
      |  %
      

  